<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.h5tchigram.alert.dao.AlertDAO">
 
 	<insert id="insertAlert" parameterType="com.h5tchigram.alert.model.Alert" useGeneratedKeys="true" keyProperty="id">
 		INSERT INTO
 			`alert`
 			(
 			`sendUserId`
 			,`receiveUserId`
 			,`alertType`
 			,`createdAt`
 			)
 			VALUES
 			(#{sendUserId}
 			,#{receiveUserId}
 			,#{alertType}
 			,NOW()
 			)
 	</insert>
 	
 	<select id="selectAlertListByReceiveUserId" parameterType="int" resultType="com.h5tchigram.alert.model.Alert">
 		SELECT
 			`id`
 			,`sendUserId`
 			,`receiveUserId`
 			,`alertType`
 			,`createdAt`
 		FROM
 			`alert`
 		WHERE
 			`receiveUserId`= #{receiveUserId}
 		ORDER BY
 			`id`
 		DESC
 	</select>
 	
 	<delete id="deleteAlertById" parameterType="int">
 		DELETE FROM
 			`alert`
 		WHERE
 			`id`=#{alertId}
 	</delete>
 	
 </mapper>