<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.h5tchigram.like.dao.LikeDAO">
 
 	<select id="selectLikeCountByPostId" parameterType="int" resultType="int">
 		SELECT
	 		COUNT(*)
 		FROM
 			`like`
 		WHERE 
 			`postId`=#{postId}
 	</select>
 	
 	<select id="selectLikeListByPostId" parameterType="int" resultType="com.h5tchigram.like.model.Like">
 		SELECT
 			`id`
 			,`userId`
 			,`postId`
 			,`createdAt`
 		FROM
 			`like`
 		WHERE 
 			`postId`=#{postId}
 	</select>
 	
 	<select id="selectLikeByUserIdAndPostId" parameterType="map" resultType="com.h5tchigram.like.model.Like">
 		SELECT
 			`id`
 			,`userId`
 			,`postId`
 			,`createdAt`
 		FROM
 			`like`
 		WHERE 
 			`postId`=#{postId}
 		AND
 			`userId`=#{userId}
 	</select>
 	
 	<insert id="insertLikeByUserIdAndPostId" parameterType="map">
 		INSERT INTO `like`
 			(
 			`userId`
 			,`postId`
 			,`createdAt`
 			)
 		VALUES
 			(
 			 #{userId}
 			,#{postId}
 			,NOW()
 			)
 	</insert>
 	
 	<delete id="deleteLikeByUserIdAndPostId" parameterType="map">
 		DELETE FROM `like`
 		WHERE
 			`userId`=#{userId}
 		AND
 			`postId`=#{postId}
 	</delete>
 	
 </mapper>