<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.h5tchigram.user.dao.UserDAO">
 
 	<select id="selectUserByLoginId" parameterType="String" resultType="com.h5tchigram.user.model.User">
 		SELECT 
 			`id`
 			,`loginId`
 			,`password`
 			,`name`
 			,`nickname`
 			,`profileImagePath`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE
 			`loginId`=#{loginId}
 	</select>
 
 	<insert id="insertUser" parameterType="com.h5tchigram.user.model.User">
 		INSERT INTO `user`
 		(
 			`loginId`
 			,`password`
 			,`name`
 			,`nickname`
 		)VALUES(
 			#{loginId}
 			,#{password}
 			,#{name}
 			,#{nickname}
 		)
 	</insert>
 	
 	<select id="selectUserByLoginIdAndPassword" parameterType="map" resultType="com.h5tchigram.user.model.User">
 		SELECT 
 			`id`
 			,`loginId`
 			,`password`
 			,`name`
 			,`nickname`
 			,`profileImagePath`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE
 			`loginId`=#{loginId}
 		AND
 			`password`=#{password}
 	</select>
 	
 	<select id="selectUserById" parameterType="int" resultType="com.h5tchigram.user.model.User">
 		SELECT 
 			`id`
 			,`loginId`
 			,`password`
 			,`name`
 			,`nickname`
 			,`profileImagePath`
 			,`introduce`
 			,`createdAt`
 			,`updatedAt`
 		FROM
 			`user`
 		WHERE
 			`id`=#{id}
 	</select>
 	
 	<select id="seleLastLikeUserById" parameterType="int" resultType="com.h5tchigram.user.model.User">
 		SELECT
 			`id`
 			`loginId`
 		FROM
 			`user`
 		WHERE
 			`id`=#{id}
 		LIMIT 1
 	</select>
 	
 	<select id="selectUserLoginIdAndProfileImagePathById" parameterType="int" resultType="com.h5tchigram.user.model.User">
 		SELECT
 			`id`
 			,`loginId`
 			,`profileImagePath`
 		FROM
 			`user`
 		WHERE
 			`id`=#{id}
 	</select>
 </mapper>