@charset "UTF-8";
body{
	background-color: #fafafa;overflow: scroll;
}

.no-scrollbar{
	overflow:hidden;
}

.wrapper{
	transform:none;
}

.material-icons-outlined{
	width:30px;
	display:flex;
	justify-content: center;
	align-items: center;
}

header{
	height:54px;
	position: fixed;
	background-color: white;
	border:1px solid #dbdbdb;
	display:flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index:5;
}

header .nav-box{
	width:890px;
	display:flex;
	justify-content: space-between;
}
	
header .header-logo-box{
	margin-top:5px;
}

header .header-nav-box{
	display: flex;
	justify-content:end;
}

header .header-nav-box .menu-item{
	background-color:white;
	border:none;
	cursor: pointer;
}

header .header-nav-box .menu-item:focus{
	background-color:white;
	border:none;
	outline: none;	
}

header .header-nav-box .nav-icon{
	width:23px;
}

header .header-nav-box .alert-item-box{
	display:flex;justify-content:flex-end;
}

header .header-nav-box .alert-item-box .nav-alert-modal{
	position:fixed;
	margin-top:38px;
	border-radius:5px;
	background-color:white;
	border:1px solid #dbdbdb;
	width:410px;
	height:200px;
	box-shadow: 2px 2px 3px 2px #dbdbdb;
	z-index:10;
	overflow:scroll; 
	overflow-x:hidden;
}

.nav-sign-in-btn , .nav-sign-up-btn{
	font-size:16px;
	padding-left:10px;
	padding-right:10px;
	outline: none;
	border:none;
	border-radius:5px;
	cursor:pointer;
	font-weight:700;
}
.nav-sign-in-btn:focus , .nav-sign-up-btn:focus{
	outline:none;
	border:none;
}

.nav-sign-in-btn{
	background-color:#0095f6;
	color:white;
}

.nav-sign-up-btn{
	background-color:white;
	color:#0095f6;
}

.alert-item-box .nav-alert-modal .nav-alert-item{
	display: flex;
	align-items: center;
	height:60px;
}

.alert-item-box .nav-alert-modal .nav-alert-profile{
	border-radius: 70%;
	padding:2px;
	width:50px;
	height:50px;
	margin-left:8px;
}

.nav-alert-modal .nav-alert-item span{
	margin-left:10px;
}

.nav-alert-modal .nav-alert-item  a{
	font-size: 13px;color:black;
}

.nav-alert-modal .nav-alert-item spa{
	padding-top:10px;padding-bottom:10px;
}

.nav-alert-modal .nav-alert-item span a:nth-child(1){
	font-weight:600;
}

.nav-alert-modal .nav-alert-item a:hover{
	text-decoration: black;
}

.nav-alert-modal .nav-alert-item .nav-alert-thumbnail{
	width:40px;margin-left:40px;
}


header .header-nav-box .profile-item-box .profile-item{
	border-radius: 70%;cursor: pointer;
}

header .header-nav-box .profile-item-box .profile-btn{
	background-color:white;
	width:34px;
	height:34px;
	margin-left:10px;
	border-radius: 70%;
	border:none;
	display:flex;
	justify-content:center;
	align-items:center;
}

header .header-nav-box .profile-item-box .profile-btn:focus{
	border:2px solid #2c2c2c;
	border-radius: 70%;
	display:flex;
	justify-content:center;
	width:34px;
	height:34px;
	outline:none;
}

header .header-nav-box .profile-item-box{
	display:flex;
	justify-content:flex-end;
}

header .header-nav-box .icon-item{
	color:#151515;
	font-size:25px;
	margin:4px;
	margin-top:2px;
}
	
.nav-profile-modal{
	position:absolute;
	margin-top:38px;
	border-radius:5px;
	background-color:white;
	border:1px solid #dbdbdb;
	width:170px;
	height:200px;
	box-shadow: 2px 2px 3px 2px #dbdbdb;
	z-index:5;
}	

.nav-profile-modal .modal-nav-item{
	width:170;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding:6px;
	padding-left:10px;
}

.nav-profile-modal .modal-nav-item:hover{
	background-color:#ebebeb; 
}
	
.nav-profile-modal .modal-nav-item a{
	font-size: 14px;
	margin-left:15px;
	color: black;
	width:160px;
}

.nav-profile-modal a:hover{
	text-decoration: none;
}

.nav-profile-modal .modal-nav-logout{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 6px;
}

.nav-profile-modal .modal-nav-logout a{
	width:170px;
	color: black;
	font-size: 14px;
	text-align: center;
}

.nav-profile-modal .modal-nav-logout:hover{
	background-color:#ebebeb;
}

.modal-window{
	width:100%;
	height:100%;
	position:fixed;
}
	
.post-section{
	width:890px;
	margin:auto;
	display:flex;
}

.post-section .timeline-section{
	height:1000px;
	width:570px;
	margin-top:90px;
}

.post-section .timeline-section .post-item-box{
	width:570px;
	border:1px solid #dbdbdb;
	margin-bottom:30px;
}

.timeline-section .post-item-box a{
	color:black;
	font-weight:500;
}

.post-section .user-info-set-z-index{
	z-index:-1;
}

.timeline-section .post-item-box .post-item-action-button{
	display: flex;
}

.timeline-section .post-item-box .post-item-action-button button{
	color:#393939;
	margin-top:8px;
	margin-left:8px;
	font-size:30px;
	width:35px;
	border: none;
	outline: none;
	background-color: white;
	cursor: pointer; 
}

.timeline-section .post-item-box .post-item-action-button button:nth-child(1){
	margin-left:13px;
}

.timeline-section .post-item-box .post-item-action-button button:nth-child(2){
	color:#ed4956;	
	font-size:30px;
	margin-left:13px;
}

.timeline-section .post-item-box .post-item-like-section{
	display: flex;
	align-items: center;
	margin-top:2px;
	font-size: 14px;
}

.timeline-section .post-item-box .post-item-like-section a:nth-child(2){
	margin-left: 10px;
}

.timeline-section .post-item-box .post-item-like-section a:hover{
	text-decoration: none;
}

.timeline-section .post-item-box .post-item-like-section .like-profile{
	width:24px;
	border-radius: 70%;
	margin-left: 13px;
}

.timeline-section .post-item-box .post-item-like-section .like-first-id{
	color:black;
	font-weight:600;
}

.timeline-section .post-item-box .post-item-like-section .like-link{
	color:black;
	font-weight:600;
}

.timeline-section .post-item-box .post-content-section{
	margin-left:15px;
	margin-top:10px;
	font-size: 13px;
}

.timeline-section .post-item-box .post-content-section span{
	margin-left:8px;
	
}

.timeline-section .post-item-box .post-content-section a{
	color:black;
	font-weight:500;
}

.timeline-section .post-item-box .post-comment-view-section button{
	cursor: pointer;
	background-color: white;
	outline: none;
	border: none;
	font-size: 14px;
	margin-left:15px;
	color:#8f8f8f;
}

.timeline-section .post-item-box .comment-unit{
	font-size:13px;
	margin-top:5px;
}

.timeline-section .post-item-box .comment-unit .comment-id, .owner-id{
	color:black;
	font-weight:500;
	font-size:13px;
	margin-left:15px;
}

.timeline-section .post-item-box .post-comment-bar{
	margin-left:13px;
	
	display: flex;
	align-content: center;
}

.timeline-section .post-item-box .post-comment-bar button{
	outline:none;
	border:none;
	cursor:pointer;
	background-color:white;
	font-size: 35px;
}

.post-comment-bar .btn-box{
	display: flex;
	justify-content: flex-end;
	width:350px;
}

.timeline-section .post-item-box .post-comment-bar input{
	margin-left:15px;
	height:57px;
	border:none;
	outline: none;	
}

.timeline-section .post-item-box .post-comment-bar .comment-submit-btn{
	font-size: 16px;
	color:#0095f6;
	font-weight:700;
	margin:0px;
	margin-right:10px;
}

.menu-modal-section{
	width:100%; height:100%;
	background:rgba(0,0,0,0.5);
	position: fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 4;
}

.menu-modal-section .menu-modal-box{
	width:370px;
	height:260px;
	border-radius:10px;
	background-color: white;
	position:fixed;
	z-index: 5;
		
}



.like-modal-section{
	width:100%; height:100%;
	background:rgba(0,0,0,0.5);
	position: fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 4;
}

.like-modal-section .like-modal-box{
	width:370px;
	height:400px;
	border-radius:10px;
	background-color: white;
	position:fixed;
	z-index: 5;	
}

.like-modal-box .like-modal-subject{
	height:50px;
	font-weight:700;
	border-bottom: 1px #dbdbdb double;
	border-top-right-radius:10px;
	border-top-left-radius:10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.like-modal-box .like-unit-box{
	height:350px;
	overflow-y:scroll;
}

.like-unit-box .like-item{
	margin-left:20px;
	margin-top:15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.like-modal-user-pic{
	border-radius: 100%;
	height:50px;
	width:50px;
}

.like-item .like-user-link{
	color:black;
	font-weight:700;
	margin-left:15px;
}

.like-section-following-btn{
	background-color: #0095f6;
	color:white;
	border-radius:5px;
	border:none;
	outline:none;
	cursor:pointer;
	margin-right:15px;
}
.like-section-following-btn:active{
	background-color:#0066aa;;
	outline:none;
}
.like-section-following-btn:focus{
	border:none;
	outline:none;
}

.like-section-follower-btn{
	background-color: white;
	color:black;
	border-radius:5px;
	border:none;
	border: 1px #dbdbdb double;
	outline:none;
	margin-right:15px;
	cursor:pointer;
}
.like-section-follower-btn:active{
	background-color:#dbdbdb ;
	outline:none;
}
.like-section-follower-btn:focus{
	outline:none;
}


.menu-modal-section div{
	text-align: center;
}

.menu-modal-section .menu-modal-box .modal-menu-item{
	color: black;
	font-size: 14px;
	width:100%;
	height:50px;
	display: flex;
	align-items: center;
	justify-content:center;
}

.menu-modal-section .menu-modal-box .cancel-modal{
	cursor: pointer;
}

.menu-modal-section .menu-modal-box hr{
	margin:0;
}

.menu-modal-section .menu-modal-box .modal-menu-item a{
	width:370px;
	color:black;
	
}
.comment-delete-button{
	cursor:pointer;
}

.menu-modal-section .menu-modal-box .modal-menu-item a:hover{
	text-decoration: none;
}

.timeline-section .post-item-box .user-info-profile{
	border-radius: 70%;
	border: 1px #dbdbdb double;
	padding:2px;
	margin-left:20px;
}

.timeline-section .post-item-box .post-user-id{
	color:black;
	margin-left:15px;
	font-weight:500;
}

.timeline-section .post-item-box .post-menu-bar{
	width:420px;
	display: flex;
	justify-content: flex-end;
}

.timeline-section .post-item-box .post-menu-btn{
	background-color: white;
	cursor:pointer;
	border:none;
	outline: none;
}

.timeline-section .post-item-box .post-user-id:hover{
	text-decoration: none;

}

.timeline-section .post-item-box .post-item-profile-section{
	margin-top:10px;
	display: flex;
	align-items: center;
	
}

.timeline-section .post-item-box .post-item-picture-section{
	margin-top:10px;
}

.user-info-section{
	height:947px;
	width:320px;
	position: fixed;
	margin: 54px auto;
	left: 570px;
	right: 0;
	z-index: 1;
}

.user-info-section .user-info-box{
	margin-top:40px;
	margin-left:40px;
	display: flex;
	align-items: center;
}

.user-info-section .user-info-profile{
	border-radius: 70%;
	border: 1px #dbdbdb double;
	padding:2px;
}

.user-info-section .user-info-item{
	margin-top:13px;
	margin-left:10px;
	
}

.user-info-section .user-info-id{
	color:black;
	margin-left:10px;
	font-weight:500;
	font-size: 14px;
}

.user-info-section .user-info-introduce{
	color:#979797;
	margin-left:10px;
	font-weight:500;
	font-size: 14px;
}

.user-info-section .user-info-footer{
	display:flex;
	justify-content:flex-start;
	margin-left: 45px;
}

.content{
	height:870px;
}

.sign-in-box{
	background-color:white;
	width:348px;
	height:390px;
	margin:auto;
	border:1px solid #dbdbdb;
	align-items: center;
}
.sign-in-box .login-alert-box{
	display:flex;
	justify-content: center;
	
}
.login-alert-box span{
	font-size: 13px;
	margin-top:15px;
}
.sign-in-box .sign-in-item-box{
	display: flex;
	justify-content: center;
}

.sign-in-item-box button{
	margin-top:15px;
}

.sign-in-box .sign-in-item-box input::placeholder{
	font-size:13px;
}

.sign-in-box .sign-in-item-box a{
	margin-top:15px;
	font-size:13px;
	color:gray;
}

.sign-in-box .sign-in-item-box a:hover{
	text-decoration: none;
}

.sign-in-box .logo{
	margin-top:35px;
}

.sign-in-box .sign-in-form-box{
	margin:auto
}

.sign-btn{
	background-color: #0095f6;
	padding-top: 5px;
	padding-bottom: 5px;
	border:none;
	border-radius:5px;
	color:white;
}

.sign-btn:active{
	border: none;
    outline:none;
    background-color: #7dc8f8;
}

.sign-btn:focus{
	border: none;
    outline:none;
}

.sign-btn:disabled{
	border: none;
    outline:none;
    background-color: #7dc8f8;
}

.more-info{
	background-color:white;
	width:348px;
	height:73px;
	margin:auto;
	margin-top:15px;
	border:1px solid #dbdbdb;
	display: flex;
	align-items: center;
	justify-content: center;
}

.more-info a:hover{
	text-decoration: none;
}

.sign-up-box{
	background-color:white;
	width:348px;
	height:500px;
	margin:auto;
	border:1px solid #dbdbdb;
	align-items: center;
}

.sign-up-item-box{
	display: flex;
	justify-content: center;
}

.sign-up-box .logo{
	margin-top:35px;
}

.sign-up-box .sign-up-description{
	text-align:center;
	font-size:18px;
	color:#b5b5b5;
	font-weight: bold;
	margin-top: 20px;
	line-height: 23px;
}

.sign-up-box .sign-up-item-box{
	display: flex;
	justify-content: center;
}

.sign-up-box .validation-text{
	color:red;
	font-size:13px;
	margin-top:13px;
	margin-left: 27px;
	
}

.sign-up-box .sign-up-item-box div{
	font-size:13px;
}

.sign-up-box .sign-up-item-box input::placeholder{
	font-size:13px;
}

#passwordValidationCheck{
	display:flex;
	justify-content: center;
}

.sign-up-box .sign-up-item-box button::disabled{
	font-size:13px;
	border: none;
    outline:none;
    background-color: #7dc8f8;
}

.comment-description-modal{
	width:100%; height:100%;
	background:rgba(0,0,0,0.5);
	position: fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 4;
}

.comment-description-modal .menu-modal-box{
	width:370px;
	border-radius:10px;
	background-color: white;
	position:fixed;
	z-index: 5;
}

.comment-description-modal div{
	text-align: center;
}

.comment-description-modal .menu-modal-box .modal-menu-item{
	color: black;
	font-size: 14px;
	width:100%;
	height:50px;
	display: flex;
	align-items: center;
	justify-content:center;
}

.comment-description-modal .menu-modal-box .cancel-modal{
	cursor: pointer;
}

.comment-description-modal .menu-modal-box hr{
	margin:0;
}

.comment-description-modal .menu-modal-box .modal-menu-item a{
	width:370px;
	color:black;
}

.comment-description-modal .menu-modal-box .modal-menu-item a:hover{
	text-decoration: none;
}

.comment-modal-section{
	width:100%; height:100%;
	background:rgba(0,0,0,0.5);
	position: fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 3;
}


.comment-modal-box{
	width:950px;
	height:600px;
	background-color: white;
	display: flex;	
}



.comment-modal-description{
	width:350px;
}

.comment-modal-description .comment-modal-des1{
	height:80px;
	padding: 13px;
	display: flex;
	align-items: center;
}

.comment-modal-des1 .user-profile{
	border-radius:70%;
	width:50px;
	border: 1px #dbdbdb double;
	padding:2px;
}

.comment-modal-des1 .user-id{
	margin-left:10px;
	color: black;
	font-weight: 700;
}

.comment-modal-des1 .post-menu-btn{
	background-color: rgba( 255, 255, 255, 0 );
	width:200px;
	border:none;
	outline:none;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.comment-modal-description .comment-modal-des2{
	height:365px;
	overflow-y:scroll;

}

.comment-modal-des2 .comment-modal-post-content{
	font-size:15px;
	margin-left:8px;
	width:200px;
}

.comment-modal-des2 .description-item{
	margin:15px 0 15px 15px;
	display:flex;
	align-items: center;

}

.comment-modal-des2 .comment-item{
	margin:15px 0 15px 15px;
	display: flex;
	align-items: center;
	justify-content:space-between;
}

.comment-item button, .comment-menu-btn{
	background-color: rgba( 255, 255, 255, 0 );
	border:none;
	outline:none;
	cursor: pointer;
	font-size:15px;

	
}

.comment-modal-des2 .user-profile{
	width:50px;
	border-radius: 70%;
	border: 1px #dbdbdb double;
	padding:2px;
}

.comment-modal-des2 .comment-id , .owner-id{
	font-size:13px;
	color:black;
	font-weight: 700;
	margin-left:10px;
}

.comment-modal-des2 .comment-id:hover , .owner-id:hover{
	color:black;
}

.comment-modal-des2 span{
	font-size:13px;
	color:black;	
}

.comment-modal-description .comment-modal-des3{
	height:108px;
}

.comment-modal-des3 {
	font-size:13px;
}

.comment-modal-des3 .action-button{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.comment-modal-des3 .action-button div{
	display: flex;
	align-items: center;
	margin-right:10px;
}
.comment-modal-des3 .action-button button{
	color:#393939;
	margin-top:8px;
	margin-left:3px;
	font-size:30px;
	width:35px;
	border: none;
	outline: none;
	background-color: rgba( 255, 255, 255, 0 );
	cursor: pointer; 	
}

.comment-modal-des3 .action-button .modal-like-before-btn{
	margin-left:10px;
}

.comment-modal-des3 .action-button .modal-like-after-btn{
	color:#ed4956;	
	font-size:30px;
	margin-left:10px;
}

.comment-modal-des3 .item-like-section{
	margin-top:5px;
}
.item-like-section .like-headcount-btn{
	border:none;
	outline: none;
	background-color:white;
	font-weight:700;
	cursor:pointer;
}
.comment-modal-des3 .item-like-section .like-profile{
	width:24px;
	border-radius: 70%;
	margin-left: 18px;
}

.comment-modal-des3 .item-like-section .like-first-id{
	color:black;
	font-weight:600;
}

.comment-modal-des3 .item-like-section .like-link{
	color:black;
	font-weight:600;
}

.comment-modal-des3 .post-date{
	font-size:13px;
	color:#b5b5b5;
	margin-left:18px;
	margin-top:10px;
}

.comment-modal-description .comment-modal-des4{
	display:flex;
	align-items:center;
	height:45px;
}

.comment-modal-des4 .item-emoji-picker{
	outline:none;
	border:none;
	cursor:pointer;
	background-color:white;
	font-size: 35px;
	margin-left: 10px;
	width:30px;
}

.comment-modal-des4 .btn-box{
	width: 60px;
	margin-left:30px;
}

.comment-modal-des4 .btn-box button{
	font-size: 13px;
	font-weight:700;
	outline:none;
	border:none;
	cursor:pointer;
	color: #0095f6;
	background-color: rgba( 255, 255, 255, 0 );

}

.comment-modal-des4 input{
	margin-left:15px;
	border:none;
	outline: none;
	font-size: 13px;
	width:220px;	
	
}












.profile-section{
	width:890px;
	margin-top:50px;
}

.profile-section .profile-divide-section{
	display: flex;
	margin-bottom:25px;
}

.profile-section .profile-divide-section .profile-box{
	width:330px;
	height:270px;
	padding-top:40px;
}

.profile-box .profile-image-frame{
	border:2px #dbdbdb solid;
	width:190px;
	height:190px;
	margin-left:60px;
	border-radius:100%;
	display:flex;
	align-items: center;
	justify-content: center;
}

.profile-box .profile-image-frame .profile-image{
	width:180px;
	height:180px;
	border-radius:100%;
	border: 1px #dbdbdb solid;
}

.profile-divide-section .profile-info-section{
	width:550px;
	margin-top:40px;
	
}

.profile-info-frame{
	width:400px;
}

.profile-info-frame .profile-info-box1{
	height:50px;
	display: flex;
	align-items: center;
	
}

.profile-info-box1 span{
	font-size: 30px;
	font-weight: lighter;
}

.profile-info-box1 .profile-edit-btn,.profile-follow-btn{
	font-size: 15px;
	font-weight: 700;
	background-color:white;
	padding:3px;
	width:110px;
	margin-left:30px;
	border: 1px #dbdbdb solid;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	color:#454545;
}

.profile-info-box1 .profile-edit-btn:active, .profile-follow-btn:active{
	color:#6c6c6c;
}

.profile-info-box1 .profile-follow-btn{
	font-size: 15px;
	font-weight: 700;
	background-color:#0d8bdf;
	color:white;
	padding:3px;
	width:110px;
	margin-left:30px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	border:none;
	
}

.profile-info-box1 .profile-following-btn{
	font-size: 15px;
	font-weight: 700;
	background-color:white;
	color:#6c6c6c;
	padding:3px;
	width:110px;
	margin-left:30px;
	border-radius: 5px;
	cursor: pointer;
	outline: none;
	border:none;
	border: 1px #dbdbdb solid;
	
}

.profile-info-box1 .profile-follow-btn:active{
	outline:none;
	border:none;
	color:#6c6c6c;
	background-color:#0d78bf;
}

.profile-info-frame .profile-info-box2{
	height:60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.profile-info-box2 span{
	font-weight:700;
	cursor:pointer;
}

.profile-info-frame .profile-info-box3 div:nth-child(1){
	margin-bottom:6px;
}

.profile-info-frame .profile-info-box3 span{
	font-weight:700;
}

.profile-section .profile-contents-nav{
	display: flex;
	justify-content: center;

}

.profile-contents-nav button{
	font-size:13px;
	font-weight:700;
	color:#aaaaaa;
	background-color:rgba( 255, 255, 255, 0 );
	margin-left:60px;
	margin-right:60px;
	outline: none;
	border:none;
	cursor: pointer;
	padding-top:15px;
}

.profile-contents-nav button:focus{
	color:black;
	border-top:1px solid black;
	margin-top:-1px;
}

.profile-contents-box .profile-contents-row{
	display: flex;
}

.profile-contents-box .profile-contents-unit{
	width:260px;
	height:260px;
	margin:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.profile-contents-unit .post-image{
	width:260px;
	height:260px;
}

.profile-contents-unit .content-simple-info{
	z-index:3;
	font-size:15px;
	font-weight:700;
	position: absolute;
	width: 100%;
	height:100%;
	opacity:0;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.profile-contents-unit .content-simple-info .icon{
	font-size: 25px;
	margin-left:15px;
}

.profile-contents-unit .content-simple-info .icon:nth-child(1){
	margin-left:0;
}

.profile-contents-unit .content-simple-info .count{
	margin-left:10px;
}

.profile-contents-unit .content-simple-info:hover{
	opacity: 100;
	background-color:rgba( 0, 0, 0, 0.3 );
}

.follow-delete-modal-section{
	width:100%; height:100%;
	background:rgba(0,0,0,0.5);
	position: fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 7;
}

.follow-delete-modal-section .follow-delete-modal-box{
	width:370px;
	border-radius:10px;
	background-color:white;
	position:fixed;
	z-index: 8;	
}
.follow-delete-modal-box .delete-user-image-box{
	width:inherit;
	height:150px;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.follow-delete-modal-box .delete-user-image{
	width:100px;
	height:100px;
	border-radius: 100%;
}

.follow-delete-modal-box .follow-delete-info .title{
	text-align: center;
	font-size: 25px;
	font-weight: 350;
	margin-bottom:10px;
}
.follow-delete-modal-box .follow-delete-info .description{
	color:#aaaaaa;
	text-align: center;
	margin-bottom:10px;
}

.follow-delete-modal-section .delete-button-box{
	width:inherit;
}
.delete-button-box .delete-btn{
	color:red;
	text-align: center;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:10px;
	cursor: pointer;
}
.delete-button-box .cancel-btn{
	width:inherit;
	text-align: center;
	margin-bottom:0px;
	padding-top:10px;
	padding-bottom:15px;
	cursor: pointer;
}
.follow-modal-section{
	width:100%; height:100%;
	background:rgba(0,0,0,0.5);
	position: fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 3;
}

.follow-modal-section .follow-modal-box{
	width:370px;
	height:405px;
	border-bottom-left-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	background-color:white;
	position:fixed;
	z-index: 5;	
}
.follow-modal-box .follow-modal-title-box{
	height:50px;
	width:inherit;
	display:flex;
	align-items:center;
	justify-content: center;
}

.follow-modal-box .follow-modal-title-box span{
	font-weight:700;
	
}

.follow-modal-box .following-members-section , .follower-members-section{
	height:350px;
	overflow-y:scroll;
}

.follow-members-section .follow-member-item .follow-image{
	width:45px;
	height:45px;
	border-radius: 70%;
	margin-left:20px;
}
.follow-members-section .follow-member-item{
	margin-top:10px;
	display: flex;
	align-items: center;
}
.follow-members-section .follow-member-item a{
	color:black;
}
.follow-members-section .follow-member-item a:hover{
	text-decoration:none;
}
.follow-members-section .follow-member-item span{
	margin-left: 13px;
	font-weight: 700;
}
.follow-members-section .follow-member-item .follow-login-id{
	width:200px;
}

.follow-member-item .follow-action-button-box{
	width:80px;
	display: flex;
	justify-content:flex-end;
	align-items:center;
}
.follow-action-button-box .follow-action-del-btn{
	outline: none;
	border-radius: 5px;
	border:1px solid #dbdbdb;
	background-color:white;
	cursor:pointer;
	font-size: 13px;
	width:54px;
	height:30px;
}
.follow-action-button-box .follow-action-del-btn:active{
	color:#ababab;
	background-color:#dbdbdb;
}

.follow-action-button-box .follow-action-following-btn{
	color:white;
	outline: none;
	border-radius: 5px;
	border:1px solid #0d8bdf;
	background-color:#0d8bdf;
	cursor:pointer;
	font-size: 13px;
	width:54px;
	height:30px;
}
.follow-action-button-box .follow-action-following-btn:active{
	color:#ababab;
	background-color:#0d8bdf;
}

.follow-action-button-box .follow-action-follower-btn{
	outline: none;
	border-radius: 5px;
	border:1px solid #dbdbdb;
	background-color:white;
	cursor:pointer;
	font-size: 13px;
	width:54px;
	height:30px;
}
.follow-action-button-box .follow-action-follower-btn:active{
	color:#ababab;
	background-color:#dbdbdb;
}


.more-contents{
	width:890px;
	height:800px;
	margin-top:50px;
}

.more-contents .contents-box{
	height:500px;
	margin-top:15px;
}
.more-contents .contents-info span{
	font-weight: 700;
}
.detail-section{
	width:890px;
	margin:auto;
}
.detail-section .content-section{
	display:flex;
}

.detail-content-box{
	margin-top:90px;
	border:1px solid #dbdbdb;
	width:950px;
	height:539px;
	background-color: white;
	display: flex;	
}



.detail-content-description{
	width:350px;
}

.detail-content-description .detail-content-des1{
	height:80px;
	padding: 13px;
	display: flex;
	align-items: center;
}

.detail-content-des1 .user-profile{
	border-radius:70%;
	width:50px;
	border: 1px #dbdbdb double;
	padding:2px;
}

.detail-content-des1 .user-id{
	margin-left:10px;
	color: black;
	font-weight: 700;
}

.detail-content-des1 .post-menu-btn{
	background-color: rgba( 255, 255, 255, 0 );
	width:200px;
	border:none;
	outline:none;
	display: flex;
	justify-content: flex-end;
	cursor: pointer;
}

.detail-content-description .detail-content-des2{
	height:301px;
	overflow-y:scroll;

}

.detail-content-des2 span{
	font-size:15px;
	margin-left:8px;
}

.detail-content-des2 .description-item{
	margin:15px 0 15px 15px;
}

.detail-content-des2 .comment-item{
	margin:15px 0 15px 15px;
	display: flex;
	align-items: center;
	justify-content:space-between;
}

.comment-item button{
	background-color: rgba( 255, 255, 255, 0 );
	border:none;
	outline:none;
	cursor: pointer;
	font-size:15px;
}

.detail-content-des2 .user-profile{
	width:50px;
	border-radius: 70%;
	border: 1px #dbdbdb double;
	padding:2px;
}

.detail-content-des2 .comment-id {
	font-size:13px;
	color:black;
	font-weight: 700;
}

.detail-content-des2 span{
	font-size:13px;
	color:black;	
}

.detail-content-description .detail-content-des3{
	height:108px;
}

.detail-content-des3{
	font-size:13px;
}

.detail-content-des3 .action-button{
	display: flex;
	align-items: center;
}

.detail-content-des3 .action-button button{
	color:#393939;
	margin-top:8px;
	margin-left:3px;
	font-size:30px;
	width:35px;
	border: none;
	outline: none;
	background-color: rgba( 255, 255, 255, 0 );
	cursor: pointer; 	
}

.detail-content-des3 .action-button button:nth-child(1){
	margin-left:10px;
}

.detail-content-des3 .action-button button:nth-child(2){
	color:#ed4956;	
	font-size:30px;
	margin-left:10px;
}

.detail-content-des3 .item-like-section{
	margin-top:5px;
}

.detail-content-des3 .item-like-section .like-profile{
	width:24px;
	border-radius: 70%;
	margin-left: 18px;
}

.detail-content-des3 .item-like-section .like-first-id{
	color:black;
	font-weight:600;
}

.detail-content-des3 .item-like-section .like-link{
	color:black;
	font-weight:600;
}

.detail-content-des3 .post-date{
	font-size:13px;
	color:#b5b5b5;
	margin-left:18px;
	margin-top:10px;
}

.detail-content-description .detail-content-des4{
	display:flex;
	align-items:center;
	height:45px;
}

.detail-content-des4 .detail-emoji-picker{
	outline:none;
	border:none;
	cursor:pointer;
	background-color:white;
	font-size: 35px;
	margin-left: 10px;
	width:30px;
}

.detail-content-des4 .btn-box{
	width: 60px;
	margin-left:30px;
}

.detail-content-des4 .btn-box button{
	font-size: 13px;
	font-weight:700;
	outline:none;
	border:none;
	cursor:pointer;
	color: #0095f6;
	background-color: rgba( 255, 255, 255, 0 );

}

.detail-content-des4 input{
	margin-left:15px;
	border:none;
	outline: none;
	font-size: 13px;
	width:220px;	
	
}

.more-contents-box .more-contents-row{
	width:inherit;
	display: flex;
	justify-content: space-between;
}

.more-contents-box .more-contents-unit{
	width:260px;
	height:260px;
	margin-top:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.more-contents-unit .post-image{
	width:260px;
	height:260px;
}

.more-contents-unit .detail-info{
	z-index:100;
	font-size:15px;
	font-weight:700;
	position: absolute;
	width: 100%;
	height:100%;
	opacity:0;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.more-contents-unit .detail-info .icon{
	font-size: 25px;
	margin-left:15px;
}

.more-contents-unit .detail-info .icon:nth-child(1){
	margin-left:0;
}

.more-contents-unit .detail-info .count{
	margin-left:10px;
}

.more-contents-unit .detail-info:hover{
	opacity: 100;
	background-color:rgba( 0, 0, 0, 0.3 );
}

.create-post-section{
	width:890px;
	margin:auto;
	display: flex;
}
.create-post-section .create-post-box{
	width:890px;
	height:300px;
	background-color:white;
	margin-top:90px;
	border:1px solid #dbdbdb;
}
.create-post-section .create-post-subject{
	height:50px;
	display: flex;
	align-items:center;
	justify-content: center;
	font-weight:700;
	font-size:14px;
	border-bottom: 1px solid #dbdbdb;
}
.create-post-box .create-post-items{
	height:200px;
	display:flex;
	align-items:center;
	justify-content: space-between;
	
}
.create-post-items label{
	background-color:#f8f8f8;
	width:175px;
	height:175px;
	font-size:13px;
	color:#a6a6a6;
	cursor:pointer;
	margin-left:20px;
	margin-top:10px;
	border: 1px solid #dbdbdb;
	border-radius: 5px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.create-post-items img{
	width:175px;
	height:175px;
	cursor:pointer;

	border-radius: 5px;
}
.create-post-items .create-file-input{
	display:none;
}
.create-post-text-box{
	width:700px;
	margin-left:23px;
}

.create-post-text-box textarea{
	font-size:13px;
	border:none;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border:1px solid #dbdbdb;
	overflow-y: scroll;
	resize:none;
	padding:10px;
}

.create-post-text-box textarea:focus{
	outline:none;
	margin-bottom:0px;
}

.create-post-box .create-post-btn-box{
	height:50px;
	border-top:1px solid #dbdbdb;
	display:flex;
	justify-content:flex-end;
	align-items:center;
}
.create-post-btn-box button{
	margin-right:25px;
	color:#0095f6;
	font-weight:bold;
	background-color:white;
	outline:none;
	border:none;
	height:30px;
	cursor:pointer;
}
.create-post-box .create-post-emoji-picker{
	background-color:#f8f8f8;
	width:645px;
	height:30px;
	margin-top:-6px;
	border:1px solid #dbdbdb;
	border-top:none;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	display:flex;
	align-items:center;
	justify-content:space-between;
	
}
.create-post-box .create-post-emoji-picker button{
	outline:none;
	border:none;
	background-color:rgba( 255, 255, 255, 0 );
	cursor:pointer;
	font-size:20px;
	color:#5f5f5f;
	margin-left:10px;
	margin-right:10px;
	
}
.create-post-photo-box .zoon-in-photo-unit{
	width:175x;
	height:175px;
	margin-left:20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.zoon-in-photo-unit .zoom-in-simple-info{
	z-index:100;
	font-size:15px;
	font-weight:700;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	opacity:0;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.zoon-in-photo-unit .zoom-in-simple-info:hover{
	opacity: 100;
	background-color:rgba( 0, 0, 0, 0.3 );
}

.create-post-item-modal-section{
	width:100%; height:100%;
	background:rgba(0,0,0,0.5);
	position: fixed ;
	display:flex;
	justify-content:center;
	align-items:center;
	margin: 0 auto;
	left: 0;
	right: 0;
	z-index: 4;
}

.create-post-item-modal-section .create-post-item-modal-box{
	width:500px;
	height:550px;
	border-radius:10px;
	background-color: white;
	position:fixed;
	z-index: 5;
}
.create-post-item-modal-box .create-post-zoom-in{
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
}
#createPhotoFrameZoomIn{
    background-color:#dbdbdb;
	width:500px;
	height:500px;
	font-size:18px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
#PostingZoomInPhoto{
	width:500px;
	height:500px;
		border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.create-post-item-modal-box .create-post-zoom-in{
	height:50px;
	border-top-left-radius:10px;
	border-top-right-radius: 10px; 
	border-bottom: 1px solid #c0c0c0;
}




footer .footer-item{
	font-size:13px; 
	color:#979797; 
	margin-top:30px; 
	margin-bottom:30px;
}
