@charset "UTF-8";
body{
	background-color: #fafafa;overflow: scroll;
}

.content{
	height:870px;
}

.sign-in-box{
	background-color:white;
	width:348px;
	height:390px;
	margin:auto;
	border:1px solid #dbdbdb;
	align-items: center;
}

.sign-in-box .sign-in-item-box{
	display: flex;
	justify-content: center;
}

.sign-in-box .sign-in-item-box input::placeholder{
	font-size:13px;
}

.sign-in-box .sign-in-item-box a{
	margin-top:15px;
	font-size:13px;
	color:gray;
}

.sign-in-box .sign-in-item-box a:hover{
	text-decoration: none;
}

.sign-in-box .logo{
	margin-top:35px;
}

.sign-in-box .sign-in-form-box{
	margin:auto
}

.sign-btn{
	background-color: #0095f6;
	padding-top: 5px;
	padding-bottom: 5px;
	border:none;
	border-radius:5px;
	color:white;
}

.sign-btn:active{
	border: none;
    outline:none;
    background-color: #7dc8f8;
}

.sign-btn:focus{
	border: none;
    outline:none;
}

.sign-btn:disabled{
	border: none;
    outline:none;
    background-color: #7dc8f8;
}

.more-info{
	background-color:white;
	width:348px;
	height:73px;
	margin:auto;
	margin-top:15px;
	border:1px solid #dbdbdb;
	display: flex;
	align-items: center;
	justify-content: center;
}

.more-info a:hover{
	text-decoration: none;
}

.sign-up-box{
	background-color:white;
	width:348px;
	height:500px;
	margin:auto;
	border:1px solid #dbdbdb;
	align-items: center;
}

.sign-up-item-box{
	display: flex;
	justify-content: center;
}

.sign-up-box .logo{
	margin-top:35px;
}

.sign-up-box .sign-up-description{
	text-align:center;
	font-size:18px;
	color:#b5b5b5;
	font-weight: bold;
	margin-top: 20px;
	line-height: 23px;
}

.sign-up-box .sign-up-item-box{
	display: flex;
	justify-content: center;
}

.sign-up-box .validation-text{
	color:red;
	font-size:13px;
	margin-top:13px;
	margin-left: 27px;
	
}

.sign-up-box .sign-up-item-box div{
	font-size:13px;
}

.sign-up-box .sign-up-item-box input::placeholder{
	font-size:13px;
}

.sign-up-box .sign-up-item-box input::desabled{
	font-size:13px;
	border: none;
    outline:none;
    background-color: #7dc8f8;
}

footer .footer-item{
	font-size:13px; 
	color:#979797; 
	margin-top:30px; 
	margin-bottom:30px;
}
